#Hurricane,#Tornado,#Earthquake,#Tsunami,#Flood,#Drought,#Fire,#Volcanic,#Landslide,#Avalanche{
    width: 80%;
    margin: 5px;
    font-size: 20px;
    border:none;
    background-color: #616A6B;
    color: #F39C12;
    font-style: sans-serif;
    height: 150px;
}

#Hurricane:hover,#Tornado:hover,#Earthquake:hover,#Tsunami:hover,#Flood:hover,#Drought:hover,#Fire:hover,#Volcanic:hover,#Landslide:hover,#Avalanche:hover{
    width: 80%;
    font-size: 25px;
    background-color: #616A6B;
    color: white;
    border-radius: 5px;
    transition: all ease-in 0.3s;
    margin-left: 20px;
}

#earth,#torn,#cyclone,#tsu,#wild,#water,#volcano,#light{
    display: none;
}
