<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="./../style/new.css">
<link rel="stylesheet" type="text/css" href="../style/main.css">
<link rel="stylesheet" type="text/css" href="../style/guid.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/recent">Recent Events</a>
    <a href="/live_stock">Live Reports</a>
    <a href="/uplift">Disaster Uplift</a>
    <a href="/statistics">Statistics</a>
    <a href="/guid" class="active">Guidelines</a>
</div>

<div class="topnav" id="myTopnav">
  <a href="/">
    <img src="./../images/logo.png" style="width: 15px;">
  </a>
  <div id="imp">
  <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal" style="background-color: black;">
    <i class="fa fa-commenting" aria-hidden="true" style="color: white;margin-top: 8px;"></i>
  </button>
  <a href="/emergency">Emergency</a>
  </div>
  </a>
</div>

<div id="main">
  <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>

<center><h1>Disaster Managment Guidlines</h1></center>
<br>
<div class="container-fluid">
  <div class="col-md-4">
  <div class="col-md-6">
    <button id="Earthquake" style="background: url(./../images/earthquake.jpg);">Earthquake</button>
  </div>
  <div class="col-md-6">
    <button id="Volcanic" style="background: url(./../images/volcano.jpg);">Volcanic Eruption</button>
  </div>
  <div class="col-md-6">
    <button id="Tsunami" style="background: url(./../images/tsunami.jpg);">Tsunami</button>
  </div>
  <div class="col-md-6">
    <button id="Fire" style="background: url(./../images/wild.jpg);">Wild Fire</button>
  </div>
  <div class="col-md-6">
    <button id="Flood" style="background: url(./../images/flood.jpg);">Flood</button>
  </div>
  <div class="col-md-6">
    <button id="Tornado" style="background: url(./../images/tornado.jpg);">Tornado</button>
  </div>
  <div class="col-md-6">
    <button id="Hurricane" style="background: url(./../images/hurricane.jpg);">Hurricane</button> <!--Cyclone, typhoons-->
  </div>
  <div class="col-md-6">
    <button id="Landslide" style="background: url(./../images/landslide.jpg);background-size: 100%;">Lightning</button>
  </div>
  </div>

  <div class="col-md-8">
    <div class="col-md-12" id="default">
      <h2>For Any Disaster: Make a Disaster Preparedness Plan</h2>
      <p>Do you know how to actually protect yourself during an earthquake or hurricane? What about a tornado or fire? You've probably heard lots of conflicting information over the years. We hope you won't ever need it, this start-to-finish guide to handling disasters will help you remember what you should really do during an emergency and afterwards to recover as quickly as possible.</p>
      <p>One common thread you'll see in almost every section below is that you'll need a disaster plan. You should be familiar with it before the disaster, and ready to act on it in case the unthinkable happens. We can tell you all about the best thing to do in the heat of the moment—and we will—but when the danger has passed, a disaster or emergency plan for your family or coworkers can be the difference between you meeting up in a secure location or being lost, unable to find one another.</p>
      <p>Make sure you and your family have a planned and practiced escape route from your home, and a place you all agree to meet up if something terrible happens. Make sure you're familiar with the emergency or disaster plan at your office.</p>
    </div>
  <div class="col-md-12" id="earth">
      <h2>Follow earthquake safety rules</h2>
      <h3>If you are indoors:</h3>
      <ul>
        <li>Remain inside.</li>
        <li>Take shelter under a heavy piece of furniture (table, desk, bed).</li>
        <li>Hang on to the piece of furniture in order to remain protected.</li>
        <li>Cover your head and torso to protect yourself from objects that could fall during an earthquake.</li>
        <li>Crouch alongside a wall if you cannot take shelter under a heavy piece of furniture or you are in a hallway.</li>
        <li>Stay away from windows and doors.</li>
        <li>If you are in a wheelchair, lock the wheels and protect your neck and head.</li>
        <li>If you are in an elevator, select all of the floors and exit the elevator as soon as possible.</li>
      </ul>
      <h3>If you are outdoors:</h3>
      <ul>
        <li>Remain outdoors.</li>
        <li>Take shelter in an open area, away from buildings and far from crowds if you are in a busy place.</li>
      </ul>
      <h3>If you are driving:</h3>
      <ul>
        <li>Stop the vehicle in a safe place, away from buildings, bridges and overpasses, and make sure that you are not blocking the road.</li>
        <li>Stay inside the vehicle.</li>
        <li>Listen to the radio for instructions from the authorities.</li>
        <li>Do not get out of the vehicle; wait for someone to rescue you if power lines have fallen on the vehicle.</li>
      </ul>
      <h3>If you are in a bus</h3> 
      <ul>
        <li>Remain seated until it stops. Then take shelter in a protected area.</li>
        <li>If that is impossible, remain seated, bend forward and protect your head.</li>
      </ul> 
      <p>Earthquakes can cause huge ocean waves called tsunamis. Stay informed of warnings if you live or find yourself near the ocean, and follow the tsunami safety rules.</p>
      <p>If an earthquake occurs, consult the media in your area to obtain a status report and find out about the steps to take.</p>
    </div>
  <div class="col-md-12" id="volcano">                                                      
  <div class="region region-content">
    <h2>Follow Volcanic Eruption safety rules</h2>
    <section id="block-system-main" class="block block-system clearfix">
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h3><strong>IF YOU ARE UNDER A VOLCANO WARNING:</strong></h3><ul><li><p>Listen for emergency information and alerts.</p></li><li><p>Follow evacuation or shelter orders. If advised to evacuate, then do so early.</p></li><li><p>Avoid areas downstream of the eruption.</p></li><li><p>Protect yourself from falling ash.</p></li><li><p>Do not drive in heavy ash fall.</p></li></ul><p><strong>HOW TO STAY SAFE WHEN A VOLCANO THREATENS:</strong></p><h2>Prepare NOW</h2><ul><li>Know your area’s risk from volcanic eruption.</li><li>Ask local emergency management for evacuation and shelter plans, and for potential means of protection from ash.</li><li>Learn about community warning systems. The Volcano Notification Service (VNS) is a free service that sends notifications about volcanic activity.<li>Get necessary <a href="/build-a-kit">supplies in advance</a> in case you have to evacuate immediately, or if services are cut off. Keep in mind each person’s specific needs, including medication. Do not forget the needs of pets.</li></ul><h2>Survive DURING</h2><ul><li>Listen to alerts. The&nbsp;Volcano Notification Service provides up-to-date information about eruptions.</li><li>Follow evacuation orders from local authorities. Evacuate early.</li><li>Avoid areas downwind, and river valleys downstream, of the volcano. Rubble and ash will be carried by wind and gravity.</li><li>Take temporary shelter from volcanic ash where you are if you have enough supplies. Cover ventilation openings and seal doors and windows.</li></ul>
    </section>
  </div>
  </div>
  <div class="col-md-12" id="tsu">
    <h2>Follow Tsunami safety rules</h2>
    <p>A tsunami can kill or injure people and damage or destroy buildings and infrastructure as waves come in and go out. A tsunami is a series of enormous ocean waves caused by earthquakes, underwater landslides, volcanic eruptions, or asteroids. Tsunamis can:</p><ul><li><p>Travel 20-30 miles per hour with waves 10-100 feet high.</p></li><li><p>Cause flooding and disrupt transportation, power, communications, and the water supply.</p></li></ul><h2>IF YOU ARE UNDER A TSUNAMI WARNING:</h2><ul><li>First, protect yourself from an Earthquake. <strong>Drop, Cover, then Hold On</strong>.</li><li>Get to high ground as far inland as possible.</li><li>Be alert to signs of a tsunami, such as a sudden rise or draining of ocean waters.</li><li>Listen to emergency information and alerts.</li><li>Evacuate: DO NOT wait! Leave as soon as you see any natural signs of a tsunami or receive an official tsunami warning.</li><li>If you are in a boat, go out to sea.</li></ul><p><strong>HOW TO STAY SAFE WHEN A TSUNAMI THREATENS</strong></p><h2>Survive DURING</h2><ul><li>If you are outside of the tsunami hazard zone and receive a warning, then stay where you are unless officials tell you otherwise.</li><li>Leave immediately if you are told to do so. Evacuation routes are often marked by a wave with an arrow in the direction of higher ground.</li><li>If you are in the water, then grab onto something that floats, such as a raft, tree trunk, or door.</li><li>If you are in a boat, then face the direction of the waves and head out to sea. If you are in a harbor, then go inland.</li></ul>
    </div>
  <div class="col-md-12" id="wild">
    <h2>Follow WildFire safety rules</h2>
    <p><b>What to do BEFORE a Wildfire: </b></p>
    <ul>
    <li>Create defensible space to separate your home from flammable vegetation and materials (minimum 30 ft)</li>
    <li>Adhere to all local fire and building codes and weed abatement ordinances. </li>
    <li>Keep all trees and shrub limbs trimmed so they do not come into contact with electrical wires or overhang your chimney (Do not trim around power lines yourself, call a professional).</li>
    <li>Prune all lower branches 8 feet from the ground.</li>
    <li>Keep trees adjacent to buildings free of dead or dying branches. </li>
    <li>Stack firewood away from your home and other buildings (Keep clearance around your piles). </li>
    <li>Keep roof surfaces clear of pine needles, leaves and debris at all times. </li>
    <li>Clean chimneys and check and maintain spark arresters twice a year.</li>
    </ul>
    <p><br><b>What to do DURING a Wildfire:</b></p>
    <ul>
    <li>Turn on a TV or radio to get the latest emergency information.</li>
    <li>If you have a ladder, prop it against the house so you and firefighters have access to roof.</li>
    <li>If hoses and adequate water are available set them up. Fill buckets with water.</li>
    <li>Remove combustible material from the area surrounding the house (lawn chairs, tables, etc.).</li>
    <li>Turn a light on in each room for visibility in case of smoke.</li>
    <li>Open or take down flammable drapes and curtains.</li>
    </ul>
    <p><br><b>What to do AFTER a Wildfire:</b></p>
    <ul>
    <li>Check with fire officials before attempting to return to your home.</li>
    <li>Use caution when re-entering a burned area - flare ups can occur.</li>
    <li>Check grounds for hot spots, smoldering stumps and vegetation. Use your buckets of water.</li>
    <li>Check the roof and exterior areas for sparks and embers.</li>
    </ul>
  </div>
<div class="col-md-12" id="water">
    <h2>Follow Flood safety rules</h2>
      <h3>BEFORE A FLOOD (When Flooding is Forecast)</h3>
      
      <p>If a <strong>flash flood warning</strong> is issued for your area: <strong>Climb to safety immediately.</strong></p>
      <ul>
        <li>Flash floods develop quickly.  Do not wait until you see rising water.</li>
        <li>Get out of low areas subject to flooding.</li>
        <li>If driving, do not drive through flooded roadways!</li>
      </ul>

      <h3>DURING A FLOOD</h3>
      
      <p><strong>Don’t drive unless you have to.<br>
      If you must drive, travel with care.</strong></p>
      <ul>
        <li>Make sure your vehicle has enough fuel.</li>
        <li>Follow recommended routes.  DO NOT sightsee.</li>
        <li>Avoid disaster areas.  Your presence might hamper rescue or other emergency operations and put you at further risk.</li>
        <li>Watch for washed out roads, earth slides, and downed trees or power lines.</li>
      </ul>

      <h3>AFTER A FLOOD</h3>
      <p><strong>Wait until it is safe to return.</strong></p>
      <ul>
        <li>Monitor NOAA Weather Radio or local television and radio stations.</li>
        <li>Do not return to flooded areas until authorities indicate it is safe to do so.</li>
        <li>Do not visit disaster areas following a flood.  Your presence may hamper urgent emergency response and rescue operations.</li>
      </ul>
    </li>
  </ul>
</li>
</ul>
</div>
<div class="col-md-12" id = "torn">
<h2>Follow Tornado safety rules</h2>
<p>Tornadoes can destroy buildings, flip cars, and create deadly flying debris. Tornadoes are violently rotating columns of air that extend from a thunderstorm to the ground. Tornadoes can:</p><ul><li>If you are in a building with no basement, then get to a small interior room on the lowest level.</li><li>Watch out for flying debris that can cause injury or death.</li><li>Use your arms to protect your head and neck.</li></ul><h2>Prepare NOW</h2><ul><li>Sign up for your community’s warning system. The Emergency Alert System (EAS) and National Oceanic and Atmospheric Administration (NOAA) Weather Radio also provide emergency alerts. If your community has sirens, then become familiar with the warning tone.</li><li>Pay attention to weather reports. Meteorologists can predict when conditions might be right for a tornado.</li><li>Consider constructing your own safe room that meets FEMA or ICC 500 standards.</li></ul><h2>&nbsp;Survive DURING</h2><ul><li>Take additional cover by shielding your head and neck with your arms and putting materials such as furniture and blankets around you.</li><li>Do not try to outrun a tornado in a vehicle.</li><li>If you are in a car or outdoors and cannot get to a building, cover your head and neck with your arms and cover your body with a coat or blanket, if possible.</li></ul><h2>Be Safe AFTER</h2><ul><li>Keep listening to EAS, NOAA Weather Radio, and local authorities for updated information.</li><li>If you are trapped, cover your mouth with a cloth or mask to avoid breathing dust. Try to send a text, bang on a pipe or wall, or use a whistle instead of shouting.</li><li>Stay clear of fallen power lines or broken utility lines.</li></ul>
</div>
<div class="col-md-12" id="cyclone">
<h2>Follow Hurrican safety rules</h2>
<p>Hurricanes are massive storm systems that form over warm ocean waters and move toward land. Potential threats from hurricanes include powerful winds, heavy rainfall, storm surges, coastal and inland flooding, rip currents, tornadoes, and landslides. The Atlantic hurricane season runs from June 1 to November 30. The Pacific hurricane season runs May 15 to November 30. Hurricanes:</p><h2>Prepare NOW</h2><ul><li>Know your area’s risk of hurricanes.</li><li>If you are at risk for flash flooding, watch for warning signs such as heavy rain.</li><li>Practice going to a safe shelter for high winds, such as a FEMA safe room or ICC 500 storm shelter. The next best protection is a small, interior, windowless room in a sturdy building on the lowest level that is not subject to flooding.</li></ul><h2>Survive DURING</h2><ul><li>If told to evacuate, do so immediately. Do not drive around barricades.</li><li>If sheltering during high winds, go to a FEMA safe room, ICC 500 storm shelter, or a small, interior, windowless room or hallway on the lowest floor that is not subject to flooding.</li></ul><h2>Be Safe AFTER</h2><ul><li>Listen to authorities for information and special instructions.</li><li>Be careful during clean-up. Wear protective clothing and work with someone else.</li></ul>
</div>
<div class="col-md-12" id="light">
  <h2>Follow Lightning saftey rules</h2>
  <h3>Safety precautions outdoors</h3>
  <ul>
    <li>If the weather forecast calls for thunderstorms, postpone your trip or activity.</li>
    <li>Remember: When thunder roars, go indoors. Find a safe, enclosed shelter.</li>
    <li>The main lightning safety guide is the 30-30 rule. After you see lightning, start counting to 30. If you hear thunder before you reach 30, go indoors. Suspend activities for at least 30 minutes after the last clap of thunder.</li>
    <li>If no shelter is available, crouch low, with as little of your body touching the ground as possible. Lightning causes electric currents along the top of the ground that can be deadly over 100 feet away.</li>
    <li>Stay away from concrete floors or walls. Lightning can travel through any metal wires or bars in concrete walls or flooring.Although you should move into a non-concrete structure if possible, being indoors does not automatically protect you from lightning.</li>
  </ul>
  <h3>Safety precautions indoors</h3>
  <ul>
    <li>Avoid water during a thunderstorm. Lightning can travel through plumbing.</li>
    <li>Avoid electronic equipment of all types. Lightning can travel through electrical systems and radio and television reception systems.</li>
    <li>Avoid corded phones. However, cordless or cellular phones are safe to use during a storm.</li>
    <li>Avoid concrete floors and walls.</li>
  </ul>
  <p>Lightning strikes may be rare, but they still happen and the risk of serious injury or death is severe. So take thunderstorms seriously.</p>
</div>

</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="background-color: rgba(0, 0, 0, 0.9);">
        <center>
          <iframe
            allow="microphone;"
            width="500"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/ed4378bf-d158-4491-a816-7ec59b8b8ac8">
          </iframe>
        </center>
      </div>
    </div>

  </div>
</div>
</div>
</body>
<footer id="foot">
   <div class="footer-bottom text-center">
    Copyright &copy; 2018 Salvador
  </div>
</footer>
<script src="./../js/guid.js"></script>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft= "0";
    document.body.style.backgroundColor = "rgba(0, 0, 0, 0.9)";
}
</script>
     
</body>
</html> 