<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div class="topnav" id="myTopnav">
  <a href="/">
    <img src="./../images/logo.png" style="width: 15px;">
  </a>
  <div id="imp">
  <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal" style="background-color: black;">
    <i class="fa fa-commenting" aria-hidden="true" style="color: white;margin-top: 8px;"></i>
  </button>
  <a href="/emergency">Emergency</a>
  </div>
  </a>
</div>

<link rel="stylesheet" type="text/css" href="../style/main.css">
<link rel="stylesheet" type="text/css" href="../style/new.css">
<script type="text/javascript" src="../js/index.js"></script>


<header class="showcase">
    <div class="content">
      <img src="./../images/Thumbnail.png" class="logo" alt="Traversy Media">
      <div class="title">
        <div class="container2">
        <h1>We Know
          <span class="txt-type" data-wait="3000" data-words='["The Value of Humanity", "The Threats to Humanity", "The Ways to protect You."]'>
          </span>
        </h1>
      </div>
      </div>
      <div class="text">
        <h3>Welcome To Salvador</h3>
      </div>
    </div>
  </header>
  <div class="col-md-12">
    <h1 style="text-align: center;">Our Services</h1>
  </div>
  <div class="col-md-12" id="sections">
    <div class="col-md-6" id="section1">
      <center>
        <a href="/predictions">
          <img src="./../images/prediction.jpg"><br>
          <p>Disaster Detecting</p>
        </a>
      </center>
    </div>
    <div class="col-md-6" id="section2">
      <center>
        <a href="/recent">
          <img src="./../images/ongoing.jpg"><br>
          <p>Recent Mega Disasters</p>
        </a>
      </center>
    </div>
    <div class="col-md-6" id="section3">
      <center>
        <a href="/guid">
          <img src="./../images/guid.png"><br>
          <p>Disaster Guidlines</p>
        </a>
      </center>
    </div>
    <div class="col-md-6" id="section4">
      <center>
        <a href="/statistics">
          <img src="./../images/statistics.jpg"><br>
          <p>Statistical Disaster Study</p>
        </a>
      </center>
    </div>
  </div>
  
  <div class="col-md-12" style="height: 40px;"></div>

  <footer>
    <div class="footer-bottom text-center">
      Copyright &copy; 2018 Salvador
    </div>
  </footer>

  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="background-color: rgba(0, 0, 0, 0.9);">
        <center>
          <iframe
            allow="microphone;"
            width="500"
            height="430"
            src="https://console.dialogflow.com/api-client/demo/embedded/ed4378bf-d158-4491-a816-7ec59b8b8ac8">
          </iframe>
        </center>
      </div>
    </div>

  </div>
</div>
